$red_1:#ff9abe;
$red_2:#ff0409;
$red_3:#c41d45;
$red_4:rgb(246, 131, 131);
$red_5:rgb(243, 61, 74);
$red_6: rgb(227, 20, 54);
$red_7:#e31436;
$red_8:#ff8587;

$white:#fff;
$white_1:#f4f4f4;
$white_2:#ffffff;
$white_3:#f7f7f7;
$white_4:#ccc;
$white_5:#f3f3f3;
$white_6:#f1f1f1;
$white_7:#f0f0f0;

$black_1:#333333;
$black_2:#000;
$black_3:#333;



$gray_1:#e3e3e3;
$gray_2:#eaebed;
$gray_3:rgb(102, 102, 102);
$gray_3_9:rgba(102, 102, 102,0.9);
$gray_4:#f0f0f0;
$gray_5:#f5f5f5;
$gray_6: #e4e4e4;
$gray_7:#666;
$gray_8:#727273;
$gray_9:#999;


$blue_1:#43a4e1;
